*
{
	margin:0;
	padding:0;
}
#header{
	height: 550px;
	background-image: url(../img/img1.png);
}
#header .navbar{
	background-color: transparent;
	border: none;


}

#header .navbar a {
	color: white

}
#brand{
	border: 1px solid white;
}
#brand1{
	text-decoration: none;
}

#Navbar a {
text-decoration: none;

}

.logoB{
	height: 50px;
}
#simple{
	text-align: center;
	color: white;
	font-size: 30px;
	margin-top: 200px;
}
#proute1{
	text-align: center;
	color: white;
	font-size: 20px;

}
#proute2{
	text-align: center;
	margin-left: 72.5%;
	color: #1B637A;
}
#battons
{
	padding-top:50px;
	padding-bottom:50px;
}
#batton, #batton2, #batton3
{
	padding:50px;
}
#batton{
	border-right: 1px solid grey;
}


#batton2{
	border-right: 1px solid grey;
}


#Macdo{
	height: 250px;	
	background-color: #DEDEDE;
	text-align: center;
}
h2{
	position: relative;
	display: inline-block;
	padding-left: 70px;
	padding-top: 90px;


}
h2 span{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 200%;
	color: purple;
	margin-top: 90px;
	text-align: center;
}
#kfc{
	font-size: 15px;

}
#burger{
	padding-top: 70px;
	text-align: center;

}
#king{
	margin-top:-90px;
}

#coca{
	border: 1px solid #2C3033;
	height: 70px;
	background-color: #2C3033;
}
#tomate{
	text-align: center;
	color: white;
}

#salade{
	
	background-color: blue;
	height: 420px;
	overflow: hidden;
	padding-top: 50px;
	padding-left: 30px;
	padding-right: 30px;
		
}
#oignon{
	border-radius: 5%;

}

#kebab{
	text-align: center;
}
#kebab div{
	display:flex;
	flex-direction:column;
	justify-content:center;
	height: 420px;
	}

#frite{
	text-align: center;
	margin-top: 125px;
	margin-left: 28px;

}
#oignon2{
	border-radius: 5%;

}
#salade2{

	background-color:#7D1A6E;
	height: 420px;
	overflow: hidden;
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
		
}


#kebab2{
	text-align: center;}

#kebab2 div{
	display:flex;
	flex-direction:column;
	justify-content:center;
	height: 420px;
	}



#pepsi{
	height: 250px;
	font-weight:bold;	
}
#free{
	text-align: center;
	padding-top: 60px;
	font-size: 150%
	

}

#bouton{
	text-align: center;
	margin-left: 555px;
	
}
#bouton2{
	background-color:#5CDE2C;
	border-radius:10%;
	background-size: 100%;

}
#spanfr{
	font-size: 200%;
}
#footer{
 background-color: #242629;
 padding-left: 10%;
}
#title1{
 margin-top: 30px;
 color: grey;
 font-size: 20px;
}
#title2{
 margin-top: 30px;
 color: grey;
 font-size: 20px;
}
#title3{
 margin-top: 30px;
 color: grey;
 font-size: 20px;
}
#contact{
 color: grey;
 list-style: none;
}
.br{
 color: white;
}
#company{
 padding-left: 30px;
 color: white;
 list-style: none;
}
#end{
 color: grey;
 margin-top: 20px;
 display: inline-flex;
 text-align: center;
}
#badge{
 width:150px;
 height:50px;
}